/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener {
  color: #fff !important;
}

.edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener.opened, .edgtf-light-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener:hover,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener.opened,
.edgtf-light-header .edgtf-top-bar .edgtf-side-menu-button-opener:hover {
  color: #02dddf !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener {
  color: #333 !important;
}

.edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener.opened, .edgtf-dark-header .edgtf-page-header > div:not(.edgtf-sticky-header):not(.fixed) .edgtf-side-menu-button-opener:hover,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener.opened,
.edgtf-dark-header .edgtf-top-bar .edgtf-side-menu-button-opener:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.edgtf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.edgtf-side-menu-button-opener .edgtf-sm-lines {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  line-height: 1;
  cursor: pointer;
}

.edgtf-side-menu-button-opener .edgtf-sm-lines .edgtf-sm-line {
  width: 5px;
  height: 5px;
  margin: 0 1.5px;
  background-color: currentColor;
  -webkit-transition: background-color 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88), opacity 0.3s cubic-bezier(0.5, 0.15, 0.33, 0.88), transform 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88);
  -moz-transition: background-color 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88), opacity 0.3s cubic-bezier(0.5, 0.15, 0.33, 0.88), transform 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88);
  transition: background-color 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88), opacity 0.3s cubic-bezier(0.5, 0.15, 0.33, 0.88), transform 0.23s cubic-bezier(0.5, 0.15, 0.33, 0.88);
}

.edgtf-side-menu-button-opener .edgtf-sm-lines .edgtf-sm-line.edgtf-line-10, .edgtf-side-menu-button-opener .edgtf-sm-lines .edgtf-sm-line.edgtf-line-11 {
  position: absolute;
  top: 50%;
  height: 5px;
  border-radius: 0;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-side-menu-button-opener .edgtf-sm-lines .edgtf-sm-line.edgtf-line-10 {
  left: -4px;
}

.edgtf-side-menu-button-opener .edgtf-sm-lines .edgtf-sm-line.edgtf-line-11 {
  right: 0;
}

.edgtf-side-menu-button-opener:hover .edgtf-sm-lines .edgtf-sm-line {
  background-color: #02dddf;
}

.edgtf-side-menu {
  position: fixed;
  top: 0;
  right: -419px;
  width: 419px;
  height: 100%;
  min-height: 100%;
  padding: 142px 56px 30px 55px;
  background-color: #201b2b;
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu a.edgtf-close-side-menu {
  position: absolute;
  top: 33px;
  right: 54px;
  display: block;
  z-index: 1000;
  color: #fff;
  font-size: 22px;
}

.edgtf-side-menu a.edgtf-close-side-menu:hover {
  color: rgba(255, 255, 255, 0.9);
}

.admin-bar .edgtf-side-menu a.edgtf-close-side-menu {
  top: 68px;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
# Side area slides over content style - begin
========================================================================== */
.edgtf-right-side-menu-opened .edgtf-wrapper,
.edgtf-right-side-menu-opened footer.uncover,
.edgtf-right-side-menu-opened .edgtf-fixed-wrapper.fixed,
.edgtf-right-side-menu-opened .edgtf-sticky-header,
.edgtf-right-side-menu-opened .mobile-header-appear .edgtf-mobile-header-inner {
  left: 0;
}

.edgtf-side-menu-slide-from-right .edgtf-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 1000;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-from-right .edgtf-wrapper .edgtf-cover {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #000;
  -webkit-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out, z-index 0.2s ease-in-out;
}

.edgtf-side-menu-slide-from-right .carousel-inner {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-from-right .edgtf-sticky-header,
.edgtf-side-menu-slide-from-right .edgtf-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-from-right footer.uncover {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-from-right.edgtf-right-side-menu-opened .edgtf-cover {
  z-index: 1002;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.edgtf-side-menu-slide-from-right.edgtf-right-side-menu-opened .edgtf-side-menu {
  right: 0;
  visibility: visible;
}

/* ==========================================================================
# Side area slides over content style - end
========================================================================== */
/* ==========================================================================
# Side area uncovering - begin
========================================================================== */
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened .edgtf-wrapper,
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened footer.uncover,
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened .edgtf-sticky-header,
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened .edgtf-fixed-wrapper.fixed,
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened .edgtf-mobile-header-inner,
.edgtf-side-area-uncovered-from-content.edgtf-right-side-menu-opened .mobile-header-appear .edgtf-mobile-header-inner {
  left: -405px;
}

.edgtf-side-area-uncovered-from-content .edgtf-side-menu {
  right: 0;
  z-index: 90;
}

.edgtf-side-area-uncovered-from-content .edgtf-sticky-header,
.edgtf-side-area-uncovered-from-content .edgtf-fixed-wrapper.fixed {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

/* ==========================================================================
# Side area uncovering - end
========================================================================== */
/* ==========================================================================
# Side area slides with content style - begin
========================================================================== */
.edgtf-side-menu-slide-with-content {
  overflow-x: hidden;
  position: relative;
  left: 0;
  -webkit-overflow-scrolling: auto !important;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-with-content .edgtf-side-menu {
  visibility: visible;
}

.edgtf-side-menu-slide-with-content footer.uncover,
.edgtf-side-menu-slide-with-content .edgtf-wrapper {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-with-content .edgtf-sticky-header,
.edgtf-side-menu-slide-with-content .edgtf-fixed-wrapper.fixed,
.edgtf-side-menu-slide-with-content .edgtf-mobile-header-inner {
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-with-content .carousel-inner {
  left: 0 !important;
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .edgtf-wrapper,
.edgtf-side-menu-slide-with-content.edgtf-side-menu-open footer.uncover,
.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .edgtf-sticky-header,
.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .edgtf-fixed-wrapper,
.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .edgtf-mobile-header-inner {
  left: -405px;
}

.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .edgtf-side-menu {
  right: 0;
}

.edgtf-side-menu-slide-with-content.edgtf-side-menu-open .carousel-inner:not(.relative_position) {
  left: -405px !important;
}

/* ==========================================================================
# Side area slides with content style - end
========================================================================== */
/* ==========================================================================
# Side area responsive style - begin
========================================================================== */
@media only screen and (max-width: 1440px) {
  .edgtf-side-menu-slide-from-right .edgtf-side-menu {
    padding: 120px 40px 30px 40px;
  }
}

@media only screen and (max-width: 1280px) {
  .edgtf-side-menu-slide-from-right .edgtf-side-menu {
    padding: 100px 42px 30px 41px;
  }
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=sidearea-map.css.map */
